table {
    width: 50%;
}

.box {
    margin-left: 1%;
    margin-bottom: 50px;
    width: 49%;
    border: 1px solid #EDD2F3;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}

.box>div {
    padding: 10px;
}

.title {
    text-align: center;
    background: #f9fafc;
}

form>div {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

form>div>label {
    width: 30%;
}

input[type=text] {
    width: 100%;
    margin-bottom: 6px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #EDD2F3;
}