table {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #EDD2F3;
    overflow: hidden;
    height: fit-content;
}

th {
    background: #f9fafc;
    color: #797979;
    border-radius: 10px;
}

td {
    padding: 10px;
    background: white;
    border: 1px solid #EDD2F3;
    border-radius: 10px;
}